#!/bin/bash

export MAMORI_SERVER="https://sandbox.mamori.io"
export MAMORI_USERNAME=
export MAMORI_PASSWORD=
export MAMORI_DB_PASSWORD=
export MAMORI_DB_HOST=
export MAMORI_DB_PORT="5432"
export MAMORI_TEST_BATCH="myrun"
export MAMORI_ORACLE_DATASOURCE=
export MAMORI_SQLSERVER_DATASOURCE=
export MAMORI_PG_DATASOURCE=
export MAMORI_SSH_VPN_HOST=localhost
export MAMORI_CREDENTIAL_ROLE=
export MAMORI_ORACLE_DS="{\"driver\":\"oracle11204\",\"host\":\"MYHOST\",\"port\":\"19300\",\"sid\":\"orclpdb1\",\"uname\":\"system\",\"pw\":\"MYPW\"}" 
